<h1>Show ACL of #<%= @id %></h1>

<% SimpleNavigationAcl::Base.contexts.each do |context| %>
    <%= render 'simple_navigation_acl/list', context: context, readonly: true %>
<% end %>

<hr />

<%= link_to 'Back', :back %>
|
<%= link_to 'Edit', simple_navigation_acl_edit_path(id: @id) %>
